/* General Styles */
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #E7F0DC;
    color: #577445;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #597445;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo {
    font-size: 1.5em;
    color: #E7F0DC;
    margin-right: auto;
}

header nav {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

header nav a {
    color: #E7F0DC;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 80px 20px 20px;
    max-width: 800px;
    margin: 0 auto;
}

/* Index Page Styles */
h1 {
    color: #658147;
}

input, select, button {
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #577445;
    font-size: 1em;
    color: #577445;
    background-color: #E7F0DC;
}

input::placeholder, select::placeholder, button::placeholder {
    color: #577445;
}

button {
    background-color: #577445;
    color: #E7F0DC;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #658147;
}

.team-display {
    text-align: left;
    margin: 20px auto;
}

.team-display .team {
    background-color: #E7F0DC;
    border: 1px solid #577445;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.team-display .team h2 {
    margin-top: 0;
    font-size: 1.2em;
}

/* Modes Page Styles */
h1 {
    color: #658147;
}

h2 {
    color: #577445;
}

.game-modes {
    text-align: left;
    margin: 20px auto;
}

.mode {
    background-color: #E7F0DC;
    border: 1px solid #577445;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.mode h2 {
    margin-top: 0;
    font-size: 1.2em;
}

footer {
    padding: 10px;
    background-color: #597445;
    color: #E7F0DC;
    text-align: center;
}
