/* General Styles */
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #E7F0DC;
    color: #577445;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #597445;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo {
    font-size: 1.8em;
    color: #E7F0DC;
    margin-right: 20px;
}

header nav {
    display: flex;
    align-items: center;
    flex-direction: row;
}

header nav a {
    color: #E7F0DC;
    margin: 0 20px;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

header nav a i {
    margin-right: 8px;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 80px 20px 20px;
    max-width: 800px;
    margin: 0 auto;
    flex: 1;
}

/* Home Page Styles */
h1 {
    color: #658147;
    margin-bottom: 20px;
}

input, select, button {
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #577445;
    font-size: 1em;
    color: #577445;
    background-color: #E7F0DC;
    width: 100%; /* Full width for inputs and selects */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

input::placeholder, select::placeholder, button::placeholder {
    color: #577445;
}

button {
    background-color: #577445;
    color: #E7F0DC;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #658147;
}

.team-generator {
    text-align: center;
}

.team-generator label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #577445;
}

input[type="text"], select, input[type="number"] {
    margin-bottom: 20px; /* Space between each input */
}

/* Team Display */
.team-display {
    text-align: left;
    margin: 20px auto;
}

.team-display .team {
    background-color: #E7F0DC;
    border: 1px solid #577445;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.team-display .team h2 {
    margin-top: 0;
    font-size: 1.2em;
    color: #658147;
}

footer {
    padding: 10px;
    background-color: #597445;
    color: #E7F0DC;
    text-align: center;
    margin-top: auto; /* Pushes footer to the bottom */
}
